#div2 {
    background-color: rgb(255, 255, 255);
    height: 40px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
#div3 {
    text-align: center;
}
#div1 {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 40px;
    justify-content: center;
}
#btn1, #btn2 {
    bottom: 0;
    top: 0;
    margin: 10px;
}
#text1 {
    bottom: 0;
    top: 0;
    margin: 10px;
    
}
.textresult{
    margin-top: 30px;
    top: 0;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 600px;
    max-height: 600px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: grey;
    border-radius: 10px;
    overflow-y: auto;
    overflow-wrap: break-word;
    transition: max-height 0.5 ease;
}
#uppertextresult{
    position: relative;
}
::-webkit-scrollbar{
    width: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0);
    border-radius: 10px;
    border: solid 3px transparent;
}
#textarea1 {

    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    max-height: 60px;
    width: 95%;
    margin-right: 10px;
    resize: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: grey;
    border-radius: 10px;
}

p{
    justify-content: end;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sendbtn {
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-color: grey;
    width: 60px;
    height: 60px;
}
#bottom {
    float: left;
    bottom: 0px;
    position: relative;
}
#go_bottom {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.465);
    text-align: center;
    border-radius: 8px;
    border-color: rgba(128, 128, 128, 0.472);
    border-style: solid;
    border-width: 2px;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
a:link{
    color: black;
}
a{
    text-decoration: none;
}
#model{
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}
#modelform{
    text-align: center;
}